# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.DS_Store
node_modules
dist
dist-ssr
package-lock.json

# local env files
*.local

# Editor directories and files
.git
.idea
.vscode
.npmignore
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?